<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>O matador de monstros</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>

    <div id="matador">
        <template v-if="!nomeInserido">
            <strong>Entre com o seu nome</strong>
            <input type="text" v-model="nome">
            <input type="submit" value="Confirmar" @click="nomeInserido = true">
        </template>
        <template v-if="nomeInserido">
            <h1 v-show="!gameIniciado">Seja bem vindo {{nome}}</h1>
            <hr v-show="!gameIniciado">
            <div class="fight" v-show="gameIniciado">
                <div class="personagem">
                    <strong>{{nome}}</strong>
                    <div class="bar">
                        <div class="life" :class="classePersonagem" :style="{width: vidaPersonagem + '%'}"></div>
                    </div>
                    <span>{{vidaPersonagem}}%</span>
                </div>
                <div class="monstro">
                    <strong>Monstro</strong>
                    <div class="bar">
                        <div class="life" :class="classeMonstro" :style="{width: vidaMonstro + '%'}"></div>
                    </div>
                    <span>{{vidaMonstro}}%</span>
                </div>
            </div>

            <div class="commands">
                <button v-if="!gameIniciado" @click="iniciar()">Iniciar combate</button>
                <template v-else>
                    <button class="atacar" @click="atacar()">Atacar</button>
                    <button class="magia" @click="magia()">Lançar magia</button>
                    <button class="curar" @click="curar()">Se curar</button>
                    <button class="desistir" @click="gameIniciado = false">Desistir</button>
                </template>
            </div>

            <div class="log">

            </div>
        </template>
    </div>

    <script src="script.js"></script>
</body>
</html>